@charset "utf-8";

/******************** pc *****************/

body {
    line-height: 1;
    position: relative;
    left: 0;
    -webkit-transition: left .3s;
    transition: left .3s;
}



/* gnb */
.header {width:100%;}
.header .gnb_wrap {width:1500px; margin:0 auto; height:65px; position:relative;}
.header .gnb_wrap .gnb_left {position:absolute; left:0; margin-top:24px;}
.header .gnb_wrap .gnb_left li{float:left;}
.header .gnb_wrap .gnb_left li:first-child {margin-right:22px;}
.header .gnb_wrap .gnb_left:after{content:''; display:block; clear:both;}

.header .gnb_wrap .gnb_right {position:absolute; right:0; margin-top:24px;}
.header .gnb_wrap .gnb_right li{font-weight:300; font-size:13px; float:left; margin-right:20px;}
/*.header .gnb_wrap .gnb_right li:last-child{marign-right:0;}*/
.header .gnb_wrap .gnb_right li a.cart_con {-webkit-transition: background 0.2s ease; padding-left:16px; display:block; height:12px; background:url(/project/images/cart_con.png) no-repeat left 0;}
.header .gnb_wrap .gnb_right li a.cart_con:hover {background-position:0 -12px;}
.header .gnb_wrap .gnb_right li a.order_con {-webkit-transition: background 0.2s ease; padding-left:16px; display:block; height:13px; background:url(/project/images/order_con.png) no-repeat left 0;}
.header .gnb_wrap .gnb_right li a.order_con:hover {background-position:0 -13px;}
.header .gnb_wrap .gnb_right li a.my_con {-webkit-transition: background 0.2s ease; padding-left:17px; display:block; height:13px; background:url(/project/images/mypage_con.png) no-repeat left 0;}
.header .gnb_wrap .gnb_right li a.my_con:hover {background-position:0 -13px;}


/* logo */
.header h1 {text-align:center;}

/* lnb */
.header .lnb_wrap {height:53px; padding-top:60px; /*padding:58px 0 36px 0;*/ width:1500px; margin:0 auto; position:relative;}
.header .lnb_wrap .lnb_pc {text-align:center; font-weight:400; color:#333;}
.header .lnb_wrap .lnb_pc li{font-size:15px; display:inline-block; padding-right:51px;}
.header .lnb_wrap .lnb_pc li:last-child{padding-right:0;}
.header .lnb_wrap .lnb_pc:after {content:''; display:block; clear:both;}


/* search */
.search_wrap input[type="text"] {font-size:12px; top:58px; position:absolute; right:31px; width:140px; height:25px; border:1px solid #c7c7c7; padding:0 10px; border-radius:15px;}
.search_wrap input[type="image"] { padding:6px; position:absolute; right:0; top:57px;}



/* footer */
.footer .fot_info_wrap {background:#0b0b0b;}
.footer .fot_info_wrap .fot_info {width:1200px; margin:0 auto; position:relative;}
.footer .footer_logo {padding:93px 0 67px 0;}
.footer .footer_customer {font-size:16px; color:#fff; font-weight:400;}
.footer .footer_customer .tel {font-size:40px; font-family:'Nanum Square', Arial, "돋움", Dotum; font-weight:bold; margin-top:18px;}
.footer .addr01, .footer .addr02{font-size:15px; font-weight:300; color:#e2e2e2; line-height:22px;}
.footer .addr01 {margin-top:43px;}
.footer .addr02 {margin-top:22px; padding-bottom:92px;}

.footer .copyright_wrap {background:#000;}

/*.footer .footer_right*/
.footer .footer_con {position:absolute; top:333px; right:0;}
.footer .footer_con:after {display:block; content:''; clear:both;}
.footer .footer_con .footer_con01 {margin-right:38px; text-indent:-999999px; height:25px; width:25px; float:left;}
.footer .footer_con .footer_con01 a{display:block; -webkit-transition: background 0.2s ease; background:url(/project/images/footer_con01.png) no-repeat; height:25px;}
.footer .footer_con .footer_con01 a:hover {background-position:0 -25px;}
.footer .footer_con .footer_con02 {text-indent:-999999px; height:23px; width:12px; float:left;}
.footer .footer_con .footer_con02 a{display:block; -webkit-transition: background 0.2s ease; background:url(/project/images/footer_con02.png) no-repeat; height:23px;}
.footer .footer_con .footer_con02 a:hover {background-position:0 -23px;}

.footer .copyright_wrap .copyright{width:1200px; margin:0 auto;}
.footer .copyright {color:#a9a9a9; font-size:13px; font-weight:300; padding:42px 0;}
.footer .footer_right{position:absolute; right:0; top:220px;}
.footer .footer_right:after {display:block; content:''; clear:both;}
.footer .footer_right li {float:left;}
.footer .footer_right li:first-child {padding-right:43px;}
.footer .footer_right li:first-child a:before {z-index:999; background:url(/project/images/footer_bg.png) no-repeat; display:block; position:absolute; top:0px; left: 80px; content:''; width:6px; height:16px;}
.footer .footer_right a {font-size:16px; color:#fff;}



/* 메뉴 */
#menu .Mob_navigation {display:none; z-index:999999;}
#menu a.menu-icon {display:none;}
.m_search {display:none;}



/**/
.cart_img {width:60px; display:inline-block;}








.topBt {position:fixed;bottom:210px;right:-80px;width:65px;height:65px; border-radius:50%; z-index:3500;font-size:13px;letter-spacing:-9999px; overflow:hidden; color:#fff;line-height:1;transition:all .3s ease;}
.topBt span {color:#fff;}
.topBt:before {content:"";display:block;width:27px;height:30px;margin:17px auto 8px; background:url(/project/images/arr_top.png) no-repeat 0 0;}
.topBt.over {background:#bc101c;right:20px;}

@media all and (max-width:1200px) {
	.topBt {bottom:20px;}
}
@media all and (max-width:768px) {
	.topBt {width:54px;height:54px;border-radius:50%}
	.topBt:before {margin:13px auto 5px;}
}







/******************** pc_1500px *****************/
@media all and (max-width:1500px) {
	/* gnb_wrap */
	.header .gnb_wrap {width:100%;}
	.header .gnb_wrap .gnb_left li:first-child {margin-left:20px;}
	
	/* lnb */
	.header .lnb_wrap {width:100%;}

	
	/* search */
	.search_wrap input[type="image"] {margin-right:14px;}
	.search_wrap input[type="text"] {right:45px; width:100px;}
}



/******************** pad *****************/
@media all and (max-width:1200px) {
	/* lnb */
	.header .lnb_wrap {height:auto; padding-top:0;}
	.header .lnb_wrap .lnb_pc {display:none;}
	
	
	/* gnb */
	.header .gnb_wrap {height:auto;}
	.header .gnb_wrap .gnb_left {display:none;}
	.header .gnb_wrap .gnb_right {display:none;}
	
	
	/* logo */
	.header h1 {margin:14px 0;}
	.header h1 a img{width:170px;}
	
	/* search */
	.search_wrap {display:none;}
	.m_search{display:block; position:absolute; top:-56px; right:20px; height:20px; background:url(/project/images/search_con.jpg)no-repeat center center; text-indent:-9999px; width:40px; height:40px;}

	
	/* footer */
	.footer .fot_info_wrap {padding:0 20px;}
	.footer .fot_info_wrap .fot_info {width:100%;}
	
	.footer .copyright {padding:20px 0;}
	.footer .copyright_wrap {padding:0 20px;}
	
	.footer .footer_logo {display:none;}
	.pc {display:none;}
	.footer .footer_customer .tel {font-size:24px; padding-top:30px; margin-top:0;}
	.footer .addr01 {margin-top:15px;}
	.footer .addr02 {padding-bottom:30px;}
	
	.footer .footer_right {top:80px;}
	.footer .footer_right li:first-child {padding-right:35px;}
	.footer .footer_right a {font-size:13px;}
	.footer .footer_right li:first-child a:before {left:65px;}
	.footer .footer_con {top:130px;}
	
	.footer .copyright_wrap .copyright{width:100%;}
	
	
	
	/* 메뉴 */
	#menu .PC_navigation {display:none;}
	#menu a.menu-icon {display:block; position: absolute; top:-56px;  left:20px; display:block; background:url(/project/images/mob_btnmenu.png) no-repeat center center; text-indent:-9999px; width:40px; height:40px;}
	body.open {left:0;}
	div.black {background: rgba(0,0,0,0.9); height: 100%; position: fixed; width: 100%; top: 0; left: 0; z-index: 9999; display: none;}
	div.black.open {display: block;}
	div.white {transition: all .3s; background:#fff; height:100%; width:240px; position: fixed; top:0; left:-240px; z-index:9999;}
	div.white.open {left:0;}	
	
	
	
	#menu a.menu-icon.open {background:url(/common/images/cmm/mob_btnmenu_close.png) no-repeat 0 0; z-index: 99999;}
	
	#menu .Mob_navigation {display:block; height:100%; position:absolute;  top:-75px;  left:-250px;  transition:all .3s; width:240px;  background:#fff; z-index:99999;}
	#menu .Mob_navigation.open {height:100%;}
	#menu .Mob_navigation .mob_top {padding:15px;}	
	#menu .Mob_navigation .mob_top .txt {font-size:12px; line-height:16px;}
	#menu .Mob_navigation .mob_topbtn {margin-top:5px;}
	#menu .Mob_navigation .mob_topbtn:after {display:block; content:''; clear:both;}
	#menu .Mob_navigation .mob_topbtn li {float:left;}
	#menu .Mob_navigation .mob_topbtn li a {display:inline-block;  border-radius:3px; padding:5px; font-size:12px; transition:background .3s;}
	#menu .Mob_navigation .mob_topbtn li.mob_login a {margin-right:3px; border:1px solid #333; background:#333; color:#fff;}
	#menu .Mob_navigation .mob_topbtn li.mob_login a:hover {background:#555;}
	#menu .Mob_navigation .mob_topbtn li.mob_join a {border:1px solid #ccc;}
	
	#menu .Mob_navigation.open {display:block; left:0;}
	#menu .Mob_navigation p.mobmenutit { height:70px; color:#fff; background:url(/common/images/cmm/submenu_bg.png) no-repeat 0 0; text-align:center; font-size:30px; font-weight:600; border-bottom:3px solid #031767; padding-top:40px;}
	#menu .Mob_navigation ul.side-menu {border-top:1px solid #ccc; z-index:-1;  -webkit-transition: right .3s;  transition: right .3s; }
	#menu .Mob_navigation ul.side-menu li.depth1 {border-bottom:1px solid #ccc;}
	#menu .Mob_navigation ul.side-menu li.depth1 > a{font-size:13px; color:#333; display:block; text-align:left; line-height:50px; padding:0px 15px; background:url(/common/images/cmm/mob_menu01bg.png) no-repeat; background-position:210px 20px; -webkit-transition: background-position .3s;  transition: background-position .3s;}
	#menu .Mob_navigation ul.side-menu li.depth1 > a.off{}
	#menu .Mob_navigation ul.side-menu li.depth1 > a.on {color:#333; font-weight:600; background:url(/common/images/cmm/mob_menu01bg.png) no-repeat; background-position:210px -30px;}
	#menu .Mob_navigation ul.side-menu li.depth1 > ul {background:#3a3a3a; }
	#menu .Mob_navigation ul.side-menu li.depth2 { display:block; border-bottom:1px solid #555; padding-left:15px;}
	#menu .Mob_navigation ul.side-menu li.depth2:last-child {border-bottom:none;}
	#menu .Mob_navigation ul.side-menu li.depth2 > a {font-size:13px; display:block; color:#f9f9f9; line-height:40px; text-align:left; padding-left:10px; background:url(/common/images/cmm/mob_menubul01.png) no-repeat 0 19px;}
	#menu .Mob_navigation ul.side-menu li.depth2 > ul {padding:0px 0px 10px 0px; }
	#menu .Mob_navigation ul.side-menu li.depth3 { display:block;  }
	#menu .Mob_navigation ul.side-menu li.depth3 > a {display:block; color:#ccc; line-height:30px; text-align:left; padding-left:20px; background:url(/common/images/cmm/mob_menubul02.png) no-repeat 12px 15px;}
}





/******************** mob *****************/
@media all and (max-width:767px) {
	
	/* logo */
	.header h1 {margin:14px 0;}
	.header h1 a img{width:130px;}

	/* mob_nav */
	#menu .Mob_navigation {top:-64px;}
	#menu a.menu-icon {top:-52px; left:10px;}
	.m_search{top:-52px; right:10px;}
	
	/* footer */
	.footer .fot_info_wrap {padding:0 10px;}
	.footer .copyright_wrap {padding:0 10px;}
	
	.footer .addr01, .footer .addr02 {font-size:13px;}
	.footer .addr02 {margin-top:10px; padding-bottom:20px;}
	.footer .footer_customer .tel {padding-top:50px;}	
	.footer .footer_right {top:20px; left:0;}
	.footer .footer_con {top:20px;}
	.footer .footer_con .footer_con01 {margin-right:15px;}
	.footer .copyright {padding:15px 0; font-size:12px; line-height:18px;}
}
